.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .maincontainer {
    background-color: rgba(245, 245, 245, 0.8); /* Set the background color with some transparency */
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    backdrop-filter: blur(4px); /* Apply a blur effect to the container */
}

  
  .maincontainer:hover {
    scale: 1.05;
  }
  
  .mainlogintext {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .mainloginbut {
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .mainloginbut:hover {
    background-color: #3367d6;
  }
  