.App{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom right, #ee4343, #ec83a6);
}
@media(max-width: 768px){
    .App{
        min-height: 112.5vh;
        min-width: 113vw;
    }
}